[2019-12-23 10:57] nicolocarpignoli opened #1 "Create NPM package for the whole arjs studio, using create-react-app or similar With github pages integration"

[2019-12-23 10:58] nicolocarpignoli opened #2 "Create Backend NPM package"

[2019-12-23 10:58] nicolocarpignoli opened #3 "Create Frontend package"

[2019-12-23 12:16] #3 closed

[2019-12-23 17:38] #2 closed

[2019-12-25 11:39] sigalor opened #4 "Fix routing with react-router-dom"
Currently, the application uses a simple router for the HTTP path ([`ListeningBrowserRouter`](src/components/common/Routes/ListeningBrowserRouter.js)). This does not work with GitHub Pages out of the box, as described [here](https://github.com/facebook/create-react-app/blob/1d03579f518d2d5dfd3e5678184dd4a7d8544774/docusaurus/docs/deployment.md#notes-on-client-side-routing). Thus evaluate a solutio

[2020-01-02 12:58] nicolocarpignoli opened #5 "Create a Readme to have all references in one place"
We should link drive docs, whimsical project and the github pages live website Url.

[2020-01-02 13:00] nicolocarpignoli opened #6 "Define a basic design system"
We should define a basic design system, setting

- font family and font weights
- colors
- column size
- other variables

[2020-01-02 13:01] nicolocarpignoli commented on #6
@sigalor do you want to take this task and work together with Jonas maybe?

[2020-01-02 23:48] nicolocarpignoli commented on #6
@jonasjohansson as soon as you have accepted the invitation you can self assign this to you. @sigalor and me can help you if needed 😁

[2020-01-09 13:17] jonasjohansson commented on #6
Awesome, will have a look at it this weekend!

[2020-01-17 14:33] nicolocarpignoli commented on #6
@jonasjohansson how this is going? If you need help just ask :)

[2020-01-17 14:36] nicolocarpignoli commented on #5
done

[2020-01-17 14:36] #5 closed

[2020-01-17 14:37] nicolocarpignoli commented on #1
done by @sigalor

[2020-01-17 14:37] #1 closed

[2020-01-18 12:40] jonasjohansson opened #7 "Purchasing domain (www.arjs.studio) for repo"
Would be great to have a short URL connected to our repo which we can use for demos and examples, while also looking a bit more legit.

www.arjs.studio is 30 euros per year on Godaddy.

[2020-01-18 14:59] kalwalt commented on #7
@jonasjohansson cool idea!

[2020-01-19 09:38] nicolocarpignoli commented on #7
If I remember correctly, on namecheap.com the first year of a domain can be bought for ~9 dollars. Actually https://www.namecheap.com/ is down for me 😞  We can see next days

[2020-01-19 10:14] nicolocarpignoli opened #8 "Github OAuth authorization"
As @le0m pointed out here: https://github.com/AR-js-org/studio-backend/issues/6#issuecomment-575935742

On the studio frontend side, we should interact with Github APIs to request authorization in order to make some actions (retrieve the token, create repository, push on it).

[2020-01-25 21:12] le0m commented on #8
The backend component works with any kind of token, as long as the scope `repo:public_repo` is authorized by the user.

See this library to implement retrieving a Personal Access Token: https://github.com/octokit/auth-basic.js#readme

[2020-01-31 10:13] nicolocarpignoli opened #9 "Github pages fail to deploy"

[2020-01-31 10:14] nicolocarpignoli opened #10 "Convert pages in demo/ folder in React components"

[2020-01-31 10:14] nicolocarpignoli opened #11 "Change Icon with AR.js logo on transparent background"

[2020-01-31 10:18] nicolocarpignoli commented on #6
we should define our choice - so stuff used for now in the Public foder, as variables on scss/css files, in order to have something defined

[2020-02-10 08:19] #4 closed

[2020-02-10 16:54] #10 closed

[2020-02-16 13:39] mingir2 commented on #6
Wikimedia's design style guideline is a pretty good start for this. It's very simple.

https://design.wikimedia.org/style-guide/

[2020-02-17 00:36] #11 closed

[2020-02-22 13:07] nicolocarpignoli commented on #6
to update: collaborative design work is happening here => https://www.figma.com/file/TUjZ2KYsmhA5LUkt9KIhcB/ARjs-Components?node-id=0%3A1

[2020-02-24 08:08] nicolocarpignoli opened #14 "Constraints for upload of files for MVP"
We have to define constraints for file to be uploaded on the studio project.

This is for the MVP. After the MPV, will be added more.

Actually, for MVP I was thinking of:

 - Size Limit: 25 MB for EVERY kind of file

- Audio: .mp3
- Video: .mp4
- Images: .jpg, .png, .gif
- 3D Models: .gltf/.glb

[2020-02-25 20:27] iburguera commented on #14
Would also take into account the number of polygons and triangles of the GLTF/GLB model? I guess that a 25MB doesn't have much polygon and the size of the object is more related to the textures.

[2020-02-25 20:35] nicolocarpignoli commented on #14
It would be much more easy to check the file size. Please suggest a reasonable limit for 3D model size instead of 25 MB that we can set for the MVP.

[2020-02-25 21:26] iburguera commented on #14
This are my considerations for each type of file that make sense to me:

- Audio: .mp3  (10MB Max)

The average song length is 3 minutes and thirty seconds, according to google. This translates into 210 seconds. Audio with 128 kbps takes about 1MB per minute so 10 minute sonf is more than enough.

- Video: .mp4 (25MB Max)

A very good 1080p video with x264/h264 (mp4 or mkv), may need at least 3500

[2020-02-27 01:53] thauska commented on #9
I'm trying to fix this.

[2020-02-27 10:33] thauska commented on #9
I was thinking that the react project was necessary, because of the workflow on github's action. Gonna see how to fix the workflow for deploying.

[2020-02-27 18:27] #9 closed

[2020-02-28 18:12] nicolocarpignoli opened #17 "Create the 2D map embed on Location page"
Following Figma design: https://www.figma.com/file/TUjZ2KYsmhA5LUkt9KIhcB/ARjs-Components?node-id=0%3A1

On this issue, it's required to implement the 2D map.
If the marker is customizable, it should be something like the yellow marker on the Figma design.

![image](https://user-images.githubusercontent.com/22395670/75573942-2a389b80-5a5e-11ea-906a-6eee6ec06080.png)

Clicking on the map, some data

[2020-02-28 18:13] nicolocarpignoli opened #18 "Create Location Based page"
Following Figma design, it's required to implement the whole Location based page. On this issue, can be left:

* choose content type logic
* map logic

that will be handled on separate issues.

[2020-02-28 18:13] nicolocarpignoli opened #19 "Create Marker based page"
Following Figma design, it's required to implement the whole Marker based page. On this issue, can be left:

* marker upload/creation logic
* choose content type logic

that will be handled on separate issues.

[2020-02-28 18:15] nicolocarpignoli opened #20 "Create footer (Export the project panel)"
Following Figma design: https://www.figma.com/file/TUjZ2KYsmhA5LUkt9KIhcB/ARjs-Components?node-id=0%3A1

It's required to implement the footer panel, the one where the user can export the project. The two actions to be triggered on the buttons' click will be handled on separate issues.

![image](https://user-images.githubusercontent.com/22395670/75574435-94e9d700-5a5e-11ea-86cc-b7954d922892.png)

[2020-02-28 22:48] nicolocarpignoli commented on #17
I need a bit of help: what is, from your experience, the easiest way, in vanilla JS, to create a 2D map, where

* clicking on it, I can add a marker (as above)
* and retrieve latitude/longitude of the clicked point?

Any library/suggestion is welcome!

@sinanatra
@edoardocavazza

[2020-02-29 09:35] edoardocavazza commented on #17
I think that the simplest path is to use the Leaflet library with OpenStreet Maps as provider. It does not require any access token but if you want to customize the map there are some limitations. Mapbox GL is cooler but it requires an access token.

[2020-02-29 09:48] sinanatra commented on #17
I agree with @edoardocavazza , mapbox's quite better but in this case it might be an overkill

[2020-02-29 10:00] nicolocarpignoli opened #21 "Find an image for the splash screen"
Find an image to add to the iphone render for the splash screen. Image should be a screen from an AR.js-based app.

[2020-02-29 10:03] nicolocarpignoli commented on #14
Ok, design guys have implemented this one on the dropdown to choose the content to upload. Thank you @iburguera

[2020-02-29 10:03] #14 closed

[2020-03-01 15:04] nicolocarpignoli commented on #21
Details:

* portait image
* probably with an NFT picture to scan
* probably something catchy, like a dinosaur? Have to find a good .glb model for that.

[2020-03-01 16:18] nicolocarpignoli commented on #20
This is a good example for using Web Components, because this piece of view is replicated exactly on different pages. So, to not copy and paste html and js code, we can use a web component https://developer.mozilla.org/it/docs/Web/Web_Components

If you want @thauska you can simply create the html snippet plus js code and I can make it a web component, you tell me.😊

[2020-03-01 16:19] nicolocarpignoli commented on #17
Thank you guys. I will also make this a Web Component in order to use it in different views.

[2020-03-02 02:19] thauska commented on #20
I can create the html snippet, is better for me.

[2020-03-04 09:08] nicolocarpignoli commented on #6
Design work, as for a 'design system' can be considered closed, for now. It's possible to find design files on the Readme. Thanks to everybody!

[2020-03-04 09:08] #6 closed

[2020-03-04 09:44] nicolocarpignoli opened #22 "Import studio-backend from script, do not import the .min"
to be done after: https://github.com/AR-js-org/studio-backend/issues/15

[2020-03-04 19:56] nicolocarpignoli commented on #21
done, pushed on master branch.

[2020-03-04 19:56] #21 closed

[2020-03-06 23:29] fcor commented on #7
~21 USD now on namecheap

[2020-03-10 10:14] #19 closed

[2020-03-10 14:57] nicolocarpignoli commented on #22
done on merging PR for issue/19

[2020-03-10 14:57] #22 closed

[2020-03-11 15:15] spartalisdigital commented on #7
when the location and the purchase value for the domain is defined, let them know and request payment by Paypal so that each one can collaborate with a little money.

[2020-03-11 15:16] spartalisdigital commented on #7
if possible at least we will leave the domains reserved until purchase to preserve them.

[2020-03-14 19:45] mingir2 opened #28 "Create header component"
Since the header is used across the pages, it would be good to have it as a component.

[2020-03-18 16:25] mantascc commented on #28
One thing about the header, since we don't have navigation there yet it shouldn't be sticky.

[2020-03-18 17:10] #28 closed

[2020-03-18 17:19] mingir2 opened #30 "Github page 404 on resources"
GitHub pages absolute path starts from https://ar-js-org.github.io/studio/ rather than https://ar-js-org.github.io/. As a result, we get 404 for the resource that are pointing to the root directory (https://ar-js-org.github.io/).

In #29, I changed every relative path to absolute path in order to use same header component for each pages, but I didn't account for /studio/ directory.

[2020-03-19 06:15] mingir2 commented on #30
It seems like I've actually changed all base-relative urls to root-relative urls.

[2020-03-19 06:33] mingir2 commented on #30
If we use base-relative url, the header component won't work because index.html is served from https://ar-js-org.github.io/studio/ whereas marker.html and location.html are not. So, using ../assets/img/logo.png won't work on the landing page. This is why I made changes to use root-relative urls.

But then, If we use root-relative url, we can't use https://ar-js-org.github.io/studio because the roo

[2020-03-19 09:47] kalwalt commented on #30
Hi @mingir2 i have fear that the first option `Rename the "studio" repo to "ar-js-org.github.io", so that everything is served from the root url.` could break links for Ar.js (camera_para.dat, patt.hiro...) maybe preferable the other options. Bu if you add a `../ ` to the links won't works?

[2020-03-19 14:50] mingir2 commented on #30
@kalwalt I see. `../` works well for most of the links, but it breaks the current implementation of the header component.

[2020-03-19 15:15] nicolocarpignoli commented on #30
I fixed using a custom attribute where you specify the 'assets' folder URL for the web components instance. Can be enhanced in the future but for now at least it works (if someone reaches the online version at least does not see errors).

[2020-03-19 15:15] #30 closed

[2020-03-22 18:20] nicolocarpignoli opened #31 "Adjust page element sizes according to viewport"
@fcor as we discussed, after merging the Location Based page, we should discuss how to resize the elements of homepage and marker / location pages, because all it's looking 'too big' in respect of the viewport. Should not be difficult but we need to do a consistent work across the pages.

[2020-03-23 15:07] nicolocarpignoli opened #32 "Change uploaded files properties (see description)"
For the MVP, we should change, if possible, the sizes and rotation of GLTF files uploaded (also 2D video and 2D images).

* for GLTF, we have to change sizes if too big, and define a standard size
* same for 2D videos
* same for 2D images

and for every of them, position should be set at "0,0,0" while rotation should be made so the content is perpendicular to the marker.

This changes are not to b

[2020-03-23 17:41] #18 closed

[2020-03-29 22:44] ba5eem commented on #17
<img width="913" alt="arjs-map" src="https://user-images.githubusercontent.com/29417257/77862963-9839c500-71ba-11ea-8f23-a6ca0d7c8a14.png">

I added the map using Leaflet - I tried to make it re-useable as possible, open to any feedback or suggestions. Once user clicks on the map a marker will show up and update lat/lng coords in the input values as well.

its under a new branch called feature/lea

[2020-03-29 22:47] fcor commented on #17
@ba5eem Awesome! I'll take a look 😃

[2020-03-29 22:49] fcor commented on #17
@ba5eem Didn't find the branch, could you create a PR?

[2020-03-29 22:50] ba5eem commented on #17
sorry - check now. was re-reading contributing guidelines to make sure I did it right. I just pushed the branch.

[2020-03-29 22:53] ba5eem commented on #17
I had an additional thought about the map: right now its set to a random spot in Hawaii - to make it more relevant to each user, should I implement geolocation to get users location as the map starting area on load.

[2020-03-29 22:57] fcor commented on #17
That would be great! Also, would be possible to write lat/long coordinates and position the map according to them as well?

Looks good!

[2020-03-29 23:05] kalwalt commented on #17
@ba5eem i will check tomorrow this, too late now here!

[2020-03-29 23:24] mingir2 commented on #17
@ba5eem Looks great!

The most recent wire on Figma has the geolocation feature for the map. So, geolocation API would be the way to go. If you like, you can probably keep the default to be where it is now :)
![LOCATION - Success](https://user-images.githubusercontent.com/40753283/77863666-8c192c00-71e9-11ea-80d1-1d87c3cec987.png)

This isn't a big deal, but I was wondering if it's necessary to ha

[2020-03-30 10:49] ba5eem commented on #17
@mingir2 thanks for the feedback.
I know some people are concerned for privacy reason for accepting location on prompt, so I can include it - but if they deny access, or have it previously deny all as their default in their browser we could implement on 'get' on the backend to use the ISP IP as the general area for the map location, so they don't have to pan all over the globe to their location i

[2020-03-30 12:29] ba5eem commented on #17
<img width="834" alt="approved" src="https://user-images.githubusercontent.com/29417257/77912144-ba205f80-722d-11ea-948f-a0f45be70baa.png">
So above is the implementation of clicking 'set location' will utilize the navigator.geolocation api.
once location found the map will pan to center around found coordinates.

<img width="889" alt="denied" src="https://user-images.githubusercontent.com/2941725

[2020-03-30 15:04] nicolocarpignoli commented on #20
@thauska how is it going? :) If you need help, just ask

[2020-03-30 15:39] kalwalt commented on #17
@ba5eem i can confirm that if you click on the map it will be added the location blu flag and a message appear if you set the location:
`Location is set to: 21.290164091856454, -157.82986879348758!` i found difficult to scroll from the desired location Italy, the zoom don't let too much freedom at the moment.

[2020-03-30 15:42] kalwalt commented on #17
To be clear: i was refering to the Zoom out feature.  You can Zooming out until a certain point and then it stops, so you can't view the whole earth map.

[2020-03-30 17:11] #31 closed

[2020-03-30 17:12] nicolocarpignoli commented on #17
@ba5eem be aware to modifies added to master recently, probably you have to align

[2020-03-31 00:19] thauska commented on #20
I've created the branch issue#20 and started creating the footer.

[2020-03-31 13:23] thauska commented on #20
Let me know if I'm doing good

[2020-04-01 00:39] thauska commented on #20
#34

[2020-04-01 12:57] thauska commented on #20
I have closed the PR and created the branch here on the original repo. Haven't seen that I've permission to create new branches.

https://github.com/AR-js-org/studio/tree/issue%2320

[2020-04-01 13:10] nicolocarpignoli commented on #20
Thank you! Merged

[2020-04-01 13:10] #20 closed

[2020-04-01 13:26] thauska commented on #7
I think we better wait a little longer to buy the domain

[2020-04-03 10:34] nicolocarpignoli opened #36 "Create marker based experience"
On marker based page, connect the frontend with backend in order to create html marker based experience

[2020-04-03 10:35] nicolocarpignoli opened #37 "Render video when uploaded on preview"
When user uploaded a video, in both marker based / location based page, a preview should be showed. For the video, we can embed it

[2020-04-03 10:36] nicolocarpignoli opened #38 "Render image when uploaded on preview"
When user uploaded an image, in both marker based / location based page, a preview should be showed. We can show the image on the preview box, for example

[2020-04-03 10:36] nicolocarpignoli opened #39 "Render audio when uploaded on preview"
When user uploaded an audio asset, in both marker based / location based page, a preview should be showed. We can embed a basic audio player, from HTML 5 specifics, on the preview box

[2020-04-03 10:37] nicolocarpignoli opened #40 "Render 3D model on preview when uploaded"
When user uploaded a 3D model, in both marker based / location based page, a preview should be showed. We can embed an aframe scene (or three.js viewer) on the preview box and show the 3D model. Zoom/rotating enabled would be great but not needed as MVP

[2020-04-05 15:06] ba5eem commented on #17
@kalwalt i removed zoom out limitation, it was just a default attribute option 'minzoom', i commented it out. also am updating the branch to match the figma - with button on the map.
- updated button with working to match figma
- used svg icon button
- button still gets user location
- TODO: change css location of button
- branch updated

thanks @nicolocarpignoli for the heads up about master upda

[2020-04-05 19:14] nicolocarpignoli commented on #36
I think @RomanKlimov have already sorted this out. Let us know

[2020-04-05 19:14] nicolocarpignoli commented on #40
I will look into this after https://github.com/AR-js-org/studio/issues/38

[2020-04-06 04:45] RomanKlimov commented on #36
Yes, but only for image type markers. I used @mingir2 code for preview images and pushed it all on feature/marker_based_exp_for_image. There is still some refactoring and debugging work. I think we can continue adding other marker types together)

[2020-04-06 05:41] mingir2 commented on #36
@nicolocarpignoli @RomanKlimov Agree.

We have to add support for other types and add file validations as well for error checking.

[2020-04-06 17:33] nicolocarpignoli opened #43 "Accessibility"
We should try to make this web app more accessible.

From screen reader support to keyboard navigation.

I will add a shortlist to check.
This issue will probably be some of the last for the MVP to implement.

- [ ] Try with a screen reader and look for problems with speech synthesis, and fix
- [ ] Look for problems with keyboard navigation (missing tabindex, wrong tab order, watch out for traps)

[2020-04-07 10:26] nicolocarpignoli opened #44 "Create 'publish the project' page"
When clicking on the footer, on 'Publish on Github', we should navigate to the publication page
The integration of logic should be handled on a separate issue: https://github.com/AR-js-org/studio/issues/8

So this actual issue is more like related to create the page, buttons, UI elements.

![image](https://user-images.githubusercontent.com/22395670/78658847-02ddb580-78cb-11ea-925d-d5dce4d7126a.png

[2020-04-07 10:27] nicolocarpignoli opened #45 "Disable/ enable footer buttons until creation flow is not 'ready' for Marker Page"
We should have some logic to enable footer buttons, so they can be clickable only if users has done all of the required actions (uploading content, choosing anchor - location or marker).

[2020-04-07 16:43] nicolocarpignoli opened #46 "Change instructions text (and add more?)"
I think we should enhance text instructions on the home page and on the location/marker pages.

I will look into this when all functionalities have been implemented.

We should use a language understandable for everyone, teachers, students, artists, passionate users without coding knowledge.

[2020-04-09 15:05] thauska commented on #45
I've much time now and am studying this part.

[2020-04-10 15:50] faace commented on #32
There are implemented on branch issue #38.

[2020-04-14 13:23] nicolocarpignoli commented on #17
@ba5eem how is it going? Are you able to make a PR for this? thank you!

[2020-04-14 13:37] ba5eem commented on #17
Aloha!
Yep. I can by this weekend. Does that work?

Mahalo

Sent from this device that lights up

[2020-04-14 13:43] nicolocarpignoli commented on #17
Absolutely!

[2020-04-16 10:55] nicolocarpignoli commented on #32
@faace about this, it's implemented meaning that now the viewer shows any assets with a good ratio/size. That's correct. But we have to understand what's the scale/rotation we have used, in order to pass it to the backend side, so the backend can generate those properties on the final template. Are you able to do this, too? Maybe on that very same PR.

[2020-04-16 13:03] faace commented on #32
@nicolocarpignoli I can pass the size of the model/video/jpg to the backend. It is better that the backend side defines what kind of format I should pass. Then I can follow it.

[2020-04-19 21:16] ba5eem commented on #17
I moved the use my location to the map bottom right corner to match the figma, is the 'Set Location' button also part of this issue? just checking before submitting a pull request

[2020-04-22 08:52] nicolocarpignoli opened #48 "Added multiple pick location on Location Based page"
It should be possible to add more places on location based, following the Figma Design:

https://www.figma.com/file/TUjZ2KYsmhA5LUkt9KIhcB/ARjs-Studio?node-id=0%3A1

![image](https://user-images.githubusercontent.com/22395670/79962054-deb3d400-8487-11ea-83ee-0133e9c20424.png)

[2020-04-22 08:54] nicolocarpignoli opened #49 "Define a template and create JSON file to be download for multiple location based"
![image](https://user-images.githubusercontent.com/22395670/79961951-b0ce8f80-8487-11ea-8549-a3ed6c726f37.png)

[2020-04-22 15:45] nicolocarpignoli commented on #48
From Design channel on Slack:

The idea was a location added in the map interface would automatically be added to the list above [the locations list], and a location with manually entered lat/long would automatically appear as a pin on the map...so in order to delete a pin you would find the corresponding number on the list and delete it from there.

[2020-04-24 15:58] mingir2 commented on #43
For both marker and location page, the upload buttons (technically not buttons) aren't accessible via tab.

[2020-04-24 18:15] Annasmerag commented on #46
I totally agree! I have been silently tweaking some of the copy on the Figma file as we've been moving along, with wide accessibility in mind. Let's definitely take a moment to refine the final text once the functionality is there.

[2020-05-03 18:10] #17 closed

[2020-05-03 19:50] #32 closed

[2020-05-03 19:50] #36 closed

[2020-05-03 19:50] #37 closed

[2020-05-03 19:50] #38 closed

[2020-05-03 19:50] #39 closed

[2020-05-03 19:50] #40 closed

[2020-05-04 02:08] ba5eem commented on #48
I started working on this - most functionality is there, adding multiple and removing, updating, deleting, etc. I need to fix some errors and add the labels to marker icons before PR ;also do a clean up on code.

[2020-05-08 06:43] nicolocarpignoli commented on #49
@faace To start, a first JSON template can be the following:

[code]

The user will define those parameters uploading a JSON. Instead, content will be uploaded from the frontend and will be the same for every place. What will make every place different is the distance and name.

[2020-05-08 06:44] nicolocarpignoli commented on #45
@thauska how is this going? :)

[2020-05-15 08:46] gciandro13 commented on #45
Hi @thauska , still working on that?
Otherwise I take a look on it ;)

[2020-05-15 09:08] nicolocarpignoli commented on #46
Another thing: we should specify how a marker can be. So the features of a valid image to be uploaded as marker image.
Maybe I can make a Medium article that specifically talk only about this, in short.

[2020-05-15 10:34] nicolocarpignoli opened #51 "On Marker based, Show marker image on Final publication/output step"
We should show the final marker image to be scan on the final step, so the user know what he has to print/display with the generated code. Thanks to @gciandro13 for the suggestion

[2020-05-15 11:14] gciandro13 commented on #51
Yeah, I think that would be very useful for the final user.
Many ways to do it: for example, we can give him a link, after the download, specifying that it will be what he had to print/display for working properly.
The same flow should be worked on "Publish on Github" case, I think.

[2020-05-15 11:38] thauska commented on #45
I haven't look because I  was sick. @gciandro13 please see it.

[2020-05-15 12:18] le0m commented on #8
For the MVP, we decided to use a new GitHub account to generate a token, and hard-code that account/token into the Studio app.
When users create a project from Studio and decide to host it on GitHub, we'll use this account and create a new repository for deploying and hosting the project.

[2020-05-15 12:19] gciandro13 commented on #45
Ok no problem for me!
Everything is ok now? Hope you get well @thauska

[2020-05-15 12:21] thauska commented on #45
I'm getting better. Just resting a little more to be able to help again.

[2020-05-15 14:49] nicolocarpignoli commented on #51
waiting for designers sketch.

[2020-05-16 09:56] nicolocarpignoli commented on #44
@le0m @RomanKlimov this is probably changed due to latest decision.
@fcor do you read on Slack about that? We will not need the first paragraph (so no login on github, we will use a pre-define AR.js Studio account for every user).

[2020-05-16 09:56] nicolocarpignoli commented on #48
@ba5eem Hi there! Any update on this one? :)

[2020-05-16 09:57] nicolocarpignoli commented on #8
@le0m do we need to do something on frontend side or we will do that on the backend? If we go for the latter, we can close this one.

[2020-05-16 16:23] fcor commented on #44
Sounds good, I'll work on this one tomorrow 😀

[2020-05-16 18:02] Annasmerag commented on #46
I was wondering...wanted to write something about it but realized I have no idea what the best practices are for this.

[2020-05-16 22:19] le0m commented on #8
You're right, we can close this one

[2020-05-17 08:29] nicolocarpignoli commented on #46
I will do that, you can make it more readable and in a better form :)

[2020-05-17 20:18] #44 closed

[2020-05-18 23:22] ba5eem commented on #48
Im close to done with it, just struggling with some state issues for multiple scenarios.

[2020-05-19 07:15] nicolocarpignoli opened #53 "Add feedbacks on publish page (marker)"
As Designs, we have to add some feedback on current publish page, and create two publish pages that differs (the marker will show the final marker image to be downloaded, the location page will show the locations on the map).

Details at Design Figma file: https://www.figma.com/file/TUjZ2KYsmhA5LUkt9KIhcB/ARjs-Studio?node-id=0%3A1

![image](https://user-images.githubusercontent.com/22395670/822962

[2020-05-19 07:16] nicolocarpignoli commented on #53
this issue extends this one: https://github.com/AR-js-org/studio/issues/51

[2020-05-19 07:16] #51 closed

[2020-05-19 07:19] nicolocarpignoli opened #54 "Add default marker on Marker page"
We should add the possibility to use a pre-defined marker, so the user can replace it if he/her wants to, or leave it as default.

The default marker to be used is the following one:

<img width="254" alt="studio-marker" src="https://user-images.githubusercontent.com/22395670/82300478-337b3980-99b7-11ea-86cc-92e90d912957.png">

![image](https://user-images.githubusercontent.com/22395670/82384636-8

[2020-05-19 13:03] marcusx2 opened #55 "Zapworks Studio"
Please take a look at [Zapworks Studio](https://zap.works/studio/). It would be great if this studio could offer similar functionalities, such as timeline, etc.

[2020-05-26 08:05] nicolocarpignoli commented on #43
That's not good, we should use real buttons

[2020-05-26 08:05] nicolocarpignoli commented on #43
We will see on the final MVP phase

[2020-05-26 08:18] nicolocarpignoli commented on #45
Hi there. I disabled the footer buttons at startup.

On this issue we should enable them.
There are some window properties that tells you if content has been uploaded and markers/location have been chosen.

You should check them, and if both are true, you should enable the footer buttons (technically, they're a button and an 'a' element).

How to enable them:

- remove the 'publish-disabled' class

[2020-05-26 15:34] #54 closed

[2020-05-27 07:49] gciandro13 commented on #7
I checked on namecheap , still 21 USD.
I don't know if it necessary for the MVP to buy it , or, at least, think about that later

[2020-05-27 12:58] nicolocarpignoli commented on #53
@mingir2 As we discuss yesterday, we should also add the line

`We don’t own your content! Write us at arjsstudiohelp@gmail.com’ and we will delete it`

The account is real, I just created it.

[2020-05-27 16:23] mingir2 commented on #53
@nicolocarpignoli where should this disclaimer placed?

[2020-05-27 21:36] Annasmerag commented on #53
I'd say at the bottom of the publish-success page. I can add it to the figma file.

[2020-05-29 12:15] nicolocarpignoli commented on #49
@faace I have added checklist for this issue on main post

[2020-05-29 12:48] nicolocarpignoli opened #58 "Disable/ enable footer buttons until creation flow is not 'ready' for Location Page"

[2020-05-29 13:52] gciandro13 commented on #45
@nicolocarpignoli

Nic, a thought about that; in your opinion, what is the best moment to call the function that check if user uploaded both contents?

I ask this because I think  it's not enough checking when user upload one of the two content; try thinking  if he decides to remove one of them... we have to react and be able to disable the footer as soon as he removes one of the two.

We can thin

[2020-05-29 14:23] nicolocarpignoli commented on #45
That's a good call. But, we are on the MVP phase so we can make things as simple as we can.

So the footer can be enabled only one time, that is: the first time both the contents are set.
So you can check, on marker.js, where window.marker... and the other global variable are set (so when marker is set, and when content is set) and in both places call a function that enables the footer.

[2020-05-29 14:24] nicolocarpignoli commented on #45
We can just follow the KISS princiople for now :)
https://en.wikipedia.org/wiki/KISS_principle

[2020-05-29 16:04] gciandro13 commented on #45
Pull request opened: https://github.com/AR-js-org/studio/pull/59

[2020-05-29 22:28] #45 closed

[2020-05-30 08:51] nicolocarpignoli opened #61 "Add feedback on publish page (location based)"
Same as marker, in this case we should show the map on final publish stage.

Need also a refactor of location page as done for marker page.

[2020-05-30 12:27] gciandro13 opened #62 "Arjs-Studio Responsive for mobile devices"
Hi,
I think that for "post-mvp" we should try to refactor the UI in order to make it responsive not only for desktop/tablet environment, but also for mobile devices.
Maybe will be useful to talk with designers and reason about the right "UX experience" that we want to give to our users.

[2020-05-30 12:45] gciandro13 commented on #43
Ok, i will take a look at it next week with https://a11ygator.chialab.io/

[2020-05-30 15:26] le0m commented on #8
we decided to go back to this solution

[2020-06-01 07:28] #53 closed

[2020-06-01 09:00] nicolocarpignoli commented on #48
Sorry to bother @ba5eem are you able to push this forward? I can help if you need assistance. 16th of June we have a presentation and everything should be done for the MVP :)
Let me know

[2020-06-01 09:52] gciandro13 opened #64 "Marker Page: back button"
The yellow back button in "marker/index.html" that I see in production does not work as expected.
No error; seems it has to be developed.
I can take it into account @nicolocarpignoli

[2020-06-01 09:55] gciandro13 commented on #43
I will take into account those two micro-issues:

- Look for color contrasts issues (e.g. with https://a11ygator.chialab.io/)
-  Look for other general a11y issues (e.g. with https://a11ygator.chialab.io/)

[2020-06-01 09:55] #8 closed

[2020-06-01 15:23] nicolocarpignoli commented on #64
Is it only marker page or also location and other pages  (like publish) ?

[2020-06-01 15:24] nicolocarpignoli opened #65 "Github publish integration"
* ask user for project-name
* login with OAuth on Github
* integrate backend
* when backend answers back, show repository url to user as feedback.

[2020-06-01 15:31] gciandro13 commented on #64
The same bug is present also in location and publish page.. don't know about other pages.
What is the priority?

[2020-06-01 15:36] nicolocarpignoli commented on #64
very low. it works sometimes, we should go in depth and see why this happens.

[2020-06-01 15:40] gciandro13 commented on #64
![screenBugBack jpeg](https://user-images.githubusercontent.com/20702863/83426097-ee331f00-a42e-11ea-80b8-00d455ce9a2c.jpg)

I could go back only by click the red zone. I will investigate it

[2020-06-01 15:41] nicolocarpignoli commented on #64
great

[2020-06-01 17:35] le0m commented on #65
We deployed https://github.com/prose/gatekeeper to Heroku to handle the backend process of exchanging the `code` for a `token`.

How to use:
- call `https://arjs-studio-backend.herokuapp.com/authenticate/<INSERT_CODE_HERE>` with the code obtained from GH
- the service will reply with a JSON object containing the `token`
- use that token when serving files to GitHub (see [docs](https://github.com/A

[2020-06-01 18:09] ba5eem commented on #48
Not a bother at all, I totally have let the team down on this one. I worked on it some this weekend and decided maybe i should re-vamp it and figure the proper way to do this with shadow dom by following docs/guides etc., but its still proving to be a challenge for me. Good to know about the MVP - ill work on it more today and tomorrow, if I cant figure it out, help would be nice. Ill let you know

[2020-06-02 13:55] nicolocarpignoli commented on #65
Done! Works great. Thank you all for the great great work!

[2020-06-02 13:55] #65 closed

[2020-06-03 10:59] gciandro13 opened #66 "Publish on github: bug with img content"
Hi,
I tried to create a marker based experience (with the default marker), uploading an image as content (jpg and then png), but it seems that pubblication on github doesn't work.
In particular, studio stucks on publish page with a strange error in Chrome Inspector.

Attachments:

This is the png image.
![PNG IMAGE TRIAL](https://user-images.githubusercontent.com/20702863/83628949-9533ca00-a599-11

[2020-06-03 11:53] dandes97 opened #67 "studio back-end error : asset parameters not valid"
Downloading a package with gltf-model (zip-package) as content works great, but when I want to download a package with other content(video/image)I receive the error: "Asset parameters are not valid"
<img width="417" alt="Screenshot 2020-06-03 at 13 47 17" src="https://user-images.githubusercontent.com/29202791/83633603-80f3cb00-a5a1-11ea-8716-e4218e69891c.png">

If I'm not mistaken this parameter

[2020-06-03 12:02] dandes97 commented on #66
If I'm not mistaken this parameter has to be only set in the case of a 3D-model/gltf-model, right? It's an error in the backend, that's for sure. I guess the easy solution is just by doing this?

Screenshot 2020-06-03 at 13 53 11

Which only handles the error in case of a 3D-asset.
I've made a seperate issue for this :).

[2020-06-03 12:03] dandes97 commented on #66
If I'm not mistaken this parameter has to be only set in the case of a 3D-model/gltf-model, right? It's an error in the backend, that's for sure. I guess the easy solution is just by doing this?

<img width="456" alt="Screenshot 2020-06-03 at 13 53 11" src="https://user-images.githubusercontent.com/29202791/83634475-e72d1d80-a5a2-11ea-99b3-6a2ed900c49f.png">

Which only handles the error in case o

[2020-06-03 15:52] le0m commented on #66
let's continue this on #67

[2020-06-03 15:52] #66 closed

[2020-06-03 16:01] le0m commented on #67
Hi, thanks for the feedback.
I thought that parameter meant if the asset was good to be used or not, sorry for the misunderstanding.

If this parameter is used to tell backend that It can use the other `assetParam`, I think It can be avoided. Backend should throw exceptions if a package has wrong/missing `assetParam` set.

[2020-06-03 18:01] dandes97 commented on #67
Right, I think I see what you mean. Thanks for explaining! I see it is also resolved now, so I guess this issue can be closed. :)

[2020-06-05 20:59] faace commented on #49
@nicolocarpignoli I have finished step 2 and step3. But the last steps need the implementation of issue #48 because after uploading the JSON file, the multi-locations need to be shown in the list.

[2020-06-06 16:06] nicolocarpignoli commented on #48
@ba5eem if you can take a look at the AR.js Studio Slack channel: technical-stuff it would be great :D

[2020-06-10 07:40] #67 closed

[2020-06-11 03:59] Annasmerag commented on #46
There are a couple new notes on the Figma file. ;) Among them, I think it will be a good idea to add a link to the AR.js documentation at the bottom of each page. 👍

[2020-06-13 08:24] #48 closed

[2020-06-13 08:30] nicolocarpignoli commented on #58
this works sometimes other not. a bit  buggy. we're close, please check @faace @fcor

[2020-06-13 08:31] nicolocarpignoli commented on #61
post MVP?

[2020-06-14 09:43] #58 closed

[2020-06-16 12:47] gciandro13 opened #73 "Marker-Based audio (mp3) is not working / Bug back button"
Hi, in marker-based experience i can not load any mp3 audio content (the message for unsupported format is shown).

Also another bug from the page "Get Your Shareable Link" after github publication: the back button seems not working.

I will try to fix it after the release @nicolocarpignoli

[2020-06-16 12:49] nicolocarpignoli commented on #73
Now that i'm thinking better about this, back button bug will  be fixed with https://github.com/AR-js-org/studio/pull/70

Instead the other one needs a separate fix.

[2020-06-16 12:54] gciandro13 commented on #73
Ok so i will look only to the first point

[2020-06-16 17:47] nicolocarpignoli opened #74 "Lower case uploaded file name (including extension)"
See the bug here: https://twitter.com/scottturneruon/status/1272941251881558018

[2020-06-16 21:34] arturojreal opened #76 "URLs generate in "HTTP" when personal github page (github.io) redirects to custom URL"
Recent test at https://github.com/arturojreal/ddb50-test-1hur3ri generates the following link:

http://arturojreal.com/ddb50-test-1hur3ri/

However, because the link that's generated is in HTTP instead of HTTPS, when opening on Chrome browser on Android, the visitor receives the following prompt:

Webcam Error
Name:
Message: Web RTC issue-! navigator.mediaDevices not present in your browser

After

[2020-06-17 16:57] thauska commented on #76
WebRTC works only on HTTPS

[2020-06-17 17:04] thauska opened #77 "Footer's buttons doesn't work for location based: negative latitude not working?"
I was testing location base page and the buttons for publishing and download the project seems not to work. I've tested on browser Firefox and Chrome.

[2020-06-18 09:16] gciandro13 commented on #77
Hi @thauska , I tried on Chrome (Windows OS) and it seems that the buttons working properly -->
https://ar-js-org.github.io/studio/pages/location/index.html

My steps:
- Added a location (by latitude/longitude);
- Added a ".png" content.
Then zip download package and github flows activated correctly.

How could I reproduce your problem?

[2020-06-18 09:48] gciandro13 commented on #76
Hi @arturojreal ,
sorry but I'm missing something ... how was a different link generated from the traditional format "github.io" page?
What steps did you follow to publish the experience?

Is your personal github page redirect to another URL? If so, we may need to manage the generation of links with HTTPS instead of HTTP.

[2020-06-18 12:51] thauska commented on #77
I did the same steps and the buttons doesn't work. I tried on Chrome and Firefox (Linux Manjaro OS)

[2020-06-18 12:59] nicolocarpignoli commented on #77
@thauska please can you open the console dev tools, and see if there is problems ? If so, please share screenshot

[2020-06-18 14:28] thauska commented on #77
![screencapture-ar-js-org-github-io-studio-pages-location-index-html-2020-06-18-10_04_11](https://user-images.githubusercontent.com/8525721/85032984-cba34480-b156-11ea-98c7-bf34739642c6.png)

[2020-06-18 14:45] arturojreal commented on #76
Hi @thauska,
That's my understanding, too. With that in mind, should we not be generating HTTPS links, instead? To save folks the manual step of adding the "s" to the generated URL?

Hi @gciandro13,

I was also under the impression that a "github.io" page would be generated.

I published the experience via the current live version of Marker-based Experiences at https://ar-js-org.github.io/studio/.

[2020-06-18 14:59] gciandro13 commented on #76
@arturojreal
http://arturojreal.com/ddb50-test-1hur3ri/ was the link generated from arjs-Studio page when the site was uploaded? Or Ar.js Studio generate a link with "github.io" and then it redirects to the other domain?

I think that the problem could be related to the github pages domain redirected to another URL: may be with some tests  we can try to figure it what happens in these scenarios, a

[2020-06-18 15:04] arturojreal commented on #76
@gciandro13, the link generated from AR.js Studio was already from arturojreal.com. Maybe not a bug but a feature?

I'll check on Enforce HTTPS and generate a new link and see if that might fix.

[2020-06-18 15:10] gciandro13 commented on #77
@thauska
Using your location data, I reproduced the bug and see these errors on console:

components:gltf-model:warn Unexpected token < in JSON at position 0
three.js:2546 THREE.Matrix3: .getInverse() can't invert matrix, determinant is 0

Seems that putting "Latitude > 0" solved it @nicolocarpignoli

[2020-06-19 03:46] arturojreal commented on #76
@gciandro13, I think I've set forth the necessary changes to Enforce HTTPS on GitHub's end, but those changes may take up to 24 hours to propagate. In the meantime, I also configured the arturojreal.com domain to auto-redirect to HTTPS, which somewhat served the same purpose (though for now, the URL generated by AR.js Studio was still with HTTP rather than HTTPS).

I tested renaming the repository

[2020-06-19 06:59] gciandro13 commented on #76
Hi @arturojreal  , yeah everything seems very clear and thank you for your work and feebdack.
So please let me know if arjs studio generate link with HTTPS instead of HTTP when the dns will refresh its pointers to the domain.

For what concern repository's name, it is important that "4vcxzk" string you delete from repository's name it is important to make unique the name because if someone else de

[2020-06-19 07:27] nicolocarpignoli commented on #74
thanks!

[2020-06-19 07:27] #74 closed

[2020-06-19 09:07] nicolocarpignoli commented on #46
We will open new, specific issues for every action, starting from feedbacks.

[2020-06-19 09:07] #46 closed

[2020-06-19 14:23] heikog opened #79 "marker based ar not working on pixel 4 xl"
I used ar.js studio to create this:

https://ar.3dtwins.de

it should react to the default marker:

https://github.com/AR-js-org/studio/blob/master/assets/default-marker.png

but for some reason, it's not working. (It works on with my notebook browser/camera but not with my pixel 4xl)

Can anybody help?

[2020-06-21 00:05] arturojreal commented on #76
Hey @gciandro13 , I was able to Enforce HTTPS from GitHub's end now but AR.js studio continues to generate links with HTTP and not HTTPS.

As for the need for a unique identifier after the repository name, I'd love a breakdown (maybe @nicolocarpignoli can chime in?)

[2020-06-21 22:34] mingir2 commented on #79
I tested it with a Pixel 3a and got it working on Chrome. Which browser are you using on the Pixel?

[2020-06-22 08:36] gciandro13 commented on #76
Ok @arturojreal , thanks for the feedback.

So we checked that the problem is closely related to the github flow, in this cases; we simply put the link that they generate, so by our side we have to go only adding the "s" on the http link.

Then, I will close this issue; for the repository's name identifier, if you want to open an issue closely related to a bug or a improvement about that, please o

[2020-06-22 08:36] gciandro13 commented on #76
Ok @arturojreal , thanks for the feedback.

So we checked that the problem is closely related to the github flow, in this cases; we simply put the link that they generate, so by our side we have to go only adding the "s" on the http link.

Then, I will close this issue; for the repository's name identifier, if you want to open an issue closely related to a bug or a improvement about that, please o

[2020-06-22 08:36] #76 closed

[2020-06-22 09:45] nicolocarpignoli commented on #79
Hi @heikog, please re-open the issue providing us the full code, and full  specs of your device (also Browser). thank you

[2020-06-22 09:45] #79 closed

[2020-06-22 09:49] nicolocarpignoli opened #80 "Design - Add new feature: NFT (image tracking)"
As for marker-based and location based, we should support this feature.

This is the first issue for the design.

[2020-06-22 22:39] arturojreal commented on #76
Thanks @gciandro13 !

[2020-06-27 16:49] mantascc commented on #80
Great, excited to see 1.0.0 things coming. Do you think image tracking should kill the marker-based functionality? Or should marker-based remain available after we introduce image tracking?

[2020-06-29 07:29] nicolocarpignoli commented on #80
@mantascc  I would start as an addition to marker based.

[2020-06-29 16:40] nicolocarpignoli commented on #7
Not relevant as for now. We will think of this in the future

[2020-06-29 16:40] #7 closed

[2020-06-29 16:41] nicolocarpignoli commented on #55
Thanks! Interesting :)

Future plans can be seen on the 'projects' section of this repository. You can write us a feedback for specific requests: https://docs.google.com/forms/d/e/1FAIpQLSc1df2EwYNqL0jv2z8hLmXETsvQ7MUg1W4SKNDPdgo-vvKTVg/viewform?usp=send_form

Thanks

[2020-06-29 16:41] #55 closed

[2020-06-29 17:01] heikog commented on #79
I am using the default Chrome browser on the Pixel 4XL
I compared it with the iPhone X: it works on the iPhone. The Marker in the camera preview of the Pixel 4 looks much bigger than in the camera preview of the iPhone. maybe that's an issue?

[2020-06-30 09:03] nicolocarpignoli commented on #61
@fcor are you able to give a look to this?

[2020-06-30 14:09] fcor commented on #61
Sure, I can do it next week 😄

[2020-07-01 02:47] cytchemsir opened #82 "Handle spaces on uploaded file name"
When I upload a project in AR.js studio, I find I cannot finish the final step of publishing the project in Github. I wait for a long time in that page but I cannot see the final link for my project. (Always display "We are all set! We are publishing your AR Experience. Please wait few seconds .. ")

[2020-07-01 03:01] cytchemsir opened #83 "Project cannot work when I download project package"
I finished all the work to make a project in AR.js studio. When I published on Github, the project can be run properly.
When I save your project locally and download the package containing the generated code and all supporting files.
I put all the files in my webpage. I found that the project cannot run properly (When the marker is put in front of the camera,
the glb model cannot displayed)

Anybo

[2020-07-02 03:19] thauska commented on #82
I've the same problem. Have open the console and he show this:

![Capturar](https://user-images.githubusercontent.com/8525721/86312721-b7048900-bbf9-11ea-8345-de544eaf680c.PNG)

[2020-07-02 03:25] thauska commented on #82
https://github.com/thauska/robot-defenderbeoeve

[2020-07-02 03:38] thauska commented on #82
I think I know what the problem is. The GLB file cannot have spaces into his name. I made a new test, renaming the file without spaces before uploading.

[2020-07-03 06:55] nicolocarpignoli commented on #82
That's great, thanks @thauska I will specify this on the issue title

[2020-07-06 12:19] gciandro13 commented on #43
https://github.com/AR-js-org/studio/pull/84
Allygator error issues closed.

[2020-07-06 12:21] nicolocarpignoli commented on #43
@gciandro13 please check the solved points on the checklist on first post.
If you'd like to see how AR.js Studio behaves with keyboard navigation, you can try using VoiceOver (with a Macbook).

Most important things to check is the possibility to navigate alle the UI elements and that all buttons/inputs are usable from keyboard. If not, it means that we have not used standard elements.

[2020-07-06 12:22] nicolocarpignoli commented on #83
Hi @cytchemsir please share with us the code, we will try and see if the problem is on the generated code or something else from your side.

[2020-07-06 12:23] nicolocarpignoli commented on #83
Re-open the issue with more details, thank you!

[2020-07-06 12:23] #83 closed

[2020-07-07 02:00] Carnaux commented on #80
One of the jsartoolkit5 has a compression feature, now instead of three files(iset, fset and fset3) we can use just one that we named zft. I have to talk with @kalwalt to merge it into the main branch.

[2020-07-07 03:31] cytchemsir opened #85 "How to change (decrease) the width of black broader in the marker?"
I use the AR-js studio to create a project using myself marker.
How to change (decrease) the width of black broader in the marker?

Remark: I just know how to do the project using AR-js studio. I don't know coding.

[2020-07-07 08:48] cytchemsir commented on #83
I use the AR-js studio to create a project using my own marker.
How to change (decrease) the width of black broader in the marker?

Remark: I just know how to do the project using AR-js studio. I don't know
coding.

Nicolò Carpignoli <notifications@github.com> 於 2020年7月6日 週一 下午8:23寫道：

[2020-07-08 05:25] cytchemsir opened #86 "How to display two 3D objects in the same scene using two markers?"
How to display two 3D objects in the same scene using two markers?
Thx

[2020-07-08 11:21] naluz7 opened #87 "o código hiro não está funcionando quando aponto a Câmera"
Estou fazendo todo procedimento corretamente no AR js studio, veja link: https://ar-js-org.github.io/studio/pages/publish-confirm/index.html?code=296306096d2280e233c0&state=9e7nh4
mas quando o link abre e a câmera funciona, aponto o código hiro para câmera  mas não aparece  a imagem AR, já fiz vários links mas não está funcionando.
O que está ocorrendo? como posso resolver  isso?
![AR_links-gerado

[2020-07-08 12:06] thauska commented on #87
Bom dia, @naluz7 . Qual navegador e SO estás usando?

[2020-07-08 12:29] naluz7 commented on #87
google Chrome e Iphone 6

[2020-07-08 13:06] thauska commented on #87
Existe essa limitação do Chrome no iOS. Para iOS, só funciona se estiver no browser Safari.

[2020-07-08 13:07] thauska commented on #87
https://dev.to/thauska/ar-js-studio-realidade-aumentada-na-web-baseado-em-marcadores-g0n

Aqui tem um tutorial em português de como utilizar o AR.js Studio baseado em marcadores.

[2020-07-08 13:45] thauska commented on #87
Alguma outra dúvida? Testou com Safari?

[2020-07-08 13:49] naluz7 commented on #87
vou testar daqui a pouco. Se eu precisar que desenvolva para mim algo em AR podemos conversar?

[2020-07-08 14:40] naluz7 commented on #87
não está aparecendo a AR, salvei com letras ninúsculas como orienta o tutorial. No teste com o link do tutorial aparece a imagem que você colou, alguma coisa estou fazendo errado. Qual o tamanho(resolução) da imagem do arquivo que devo enviar? seja em png, jpeg, 3D, vídeos?

[2020-07-08 14:44] thauska commented on #87
Você subiu a imagem Hiro para gerar marcador?

[2020-07-08 15:15] naluz7 commented on #87
sim, tem como enviar um vídeo que fiz demonstrando ?:

[2020-07-08 15:20] thauska commented on #87
Chegou fazer o download da imagem Hiro que você subiu no AR.js Studio?

[2020-07-08 15:28] naluz7 commented on #87
agora consegui ver um, não sabia que cada código só vale para aquele arquivo. Vou testar corretamente agora e te falo.

[2020-07-08 15:59] naluz7 commented on #87
Muito grato pela sua atenção! Você conhece o piso interativo? Aquele que usa um sensor para captar movimentos e projeta efeitos no chão?

[2020-07-08 18:42] Annasmerag commented on #64
Only by clicking directly on top of the arrow does the back button work.

[2020-07-08 18:55] Annasmerag opened #88 "Add "Send feedback" sticky button"
To make it more easily accessible, can we change the "send feedback" button to a yellow sticky button (so it doesn't scroll) in the lower right corner of all the pages?
<img width="367" alt="Screenshot 2020-06-17 at 10 30 02" src="https://user-images.githubusercontent.com/36634421/86958954-d62b7b00-c111-11ea-9b43-390e7cd0b01c.png">

[2020-07-08 19:06] thauska commented on #87
Não conheço. Mas se quiser estender mais a conversa, tem o chat no Gitter. Lá tem bastante gente para ajudar. Irei finalizar essa issue, já que seu problema foi resolvido. No Gitter tem como estender mais conversas. Um abraço!

https://gitter.im/AR-js/Lobby

[2020-07-08 19:06] #87 closed

[2020-07-08 19:10] naluz7 commented on #87
Vou entrar amanhã lá, você estará lá?

[2020-07-08 19:21] thauska commented on #87
sim. Estarei

[2020-07-08 19:23] thauska commented on #85
This is something that cannot be done with AR.js Studio yet. Maybe in the future.

[2020-07-08 22:28] fcor commented on #86
Hi, you can use HIRO and KANJI presets:

[code]

You can also use barcodes, which allows you to use even more markers if needed.

Check this out: https://medium.com/@nicolcarpignoli/how-to-deliver-ar-on-the-web-only-with-a-qr-code-139bb90e82f1

[2020-07-09 07:25] nicolocarpignoli commented on #86
@cytchemsir it's not possible out-of-the-box of AR.js Studio but you can take the generated code and modify it as Fabio suggested. It's totally possible with AR.js.

Please check this out: https://ar-js-org.github.io/AR.js-Docs/ (look for Marker Based)

[2020-07-09 07:25] #86 closed

[2020-07-09 07:25] nicolocarpignoli commented on #85
Yes, we will add these feature in the future. I will write down the specific issue next days.

[2020-07-09 17:37] naluz7 commented on #87
Boa tarde Thayana!

[2020-07-09 17:39] naluz7 commented on #87
visualizei o link do Chat mas antes gostaria de fazer algumas perguntas sobre AR, nossa conversa de ontem, é possível?

[2020-07-09 18:25] naluz7 opened #89 "Boa tarde Thayana!"
Boa tarde Thayana!

_Originally posted by @naluz7 in https://github.com/AR-js-org/studio/issues/87#issuecomment-656259214_

[2020-07-09 18:27] naluz7 commented on #89
Gostaria de tirar algumas dúvidas sobre AR, posso perguntar?

[2020-07-09 19:54] thauska commented on #89
Qual a dúvida?

[2020-07-09 20:11] naluz7 commented on #89
Como faço para inserir código de comandos e opções de: áudio, gif sem fundo animação, vídeo com chroma key  para tirar o fundo, botão sair e camadas independentes?

[2020-07-09 21:37] thauska commented on #89
Com o AR.js Studio não dá pra fazer isso. Veja a documentação do AR.js mesmo:

https://ar-js-org.github.io/AR.js-Docs/

[2020-07-09 21:37] #89 closed

[2020-07-09 22:12] naluz7 commented on #89
Onde seria possível fazer dessa forma? Você sabe fazer? se sim quanto custa para fazer dessa forma com comandos?

[2020-07-11 03:52] jrDev1 commented on #80
Hello,

Can we get image tracking to work without needing a really complex image? My multicolored logo didn't get even one star in confidence when training. Currently to get my logo to work I have to use marker based but that comes with the caveat of having to put it in a square which kind of holds back my use case.

Thanks,
jrDev

[2020-07-11 03:58] jrDev1 opened #90 "Uploading content doesn't work on Safari browser"
Hello,

When trying to upload the content, nothing gets added after hitting upload so you can't move forward with the process while using Safari browser. Works on other browsers so it's definitely something with Safari.

Thanks,
jrDev

[2020-07-11 06:11] cytchemsir opened #91 "Problems about display of .glb file in web (ios)"
I am a teacher and I want to use AR in web for teaching purpose.
When I use Ar.js studio to display a .glb model publish in Github, the model can be
displayed under my own marker. This is very amazing!

However, if I download the package and host in my own website, the program cannot run normally. Very frustrating. I enclosed the whole zip file for your reference. Can you help me to see is there a

[2020-07-11 08:47] cytchemsir commented on #86
I want to display two glb files at the same time and the two models can
rotate/zoom/translate freely using two different markers
Can anyone help me?
Many thanks!

Fabio Cortés <notifications@github.com> 於 2020年7月9日 週四 上午6:28寫道：

[2020-07-12 19:17] thauska commented on #91
What's the URL from ur website?

[2020-07-12 23:26] cytchemsir commented on #91
https://drv.tw/~cytchemsir@gmail.com/gd/AR/index.html
<https://drv.tw/~cytchemsir@gmail.com/gd/web/index5.html>

By the way, can you teach me the whole html file (with javascript embed) so
that I can display two different .glb files (models) using two different
markers (preset/custom) in the same scene. The two models can be
rotated/zoomed/translated freely.

Many thanks.

Thayana Correa Mamore <n

[2020-07-17 13:42] naluz7 commented on #89
Bom dia Thayana!
Você trabalha com google AR?

[2020-07-17 13:52] thauska commented on #88
I can handle this. For UX is better to have an sticky button for feedback.

[2020-07-17 13:55] thauska commented on #91
I've see the console and it says that the patt file can't be find:

![Capturar-2](https://user-images.githubusercontent.com/8525721/87793745-09f65700-c81c-11ea-9d5f-f6d8ce6afc96.PNG)

[2020-07-18 04:01] thebioway opened #92 ".glb models exported from blender 2.82 appear dark in AR.js Studio"
Using blender 2.82 with built-in gLTF 2.0 exporter. Exported 3D object as .glb file and whenever I'm uploading it through choose the content option in AR.js studio, in the preview window besides it appear as a very dark model.
Checked the exported file with viewer available at https://gltf-viewer.donmccurdy.com/, model appear normal as it should.
Models downloaded from Sketchfab work normal. So wh

[2020-07-20 08:13] nicolocarpignoli opened #93 "Support for multiple languages"
To make AR.js Studio more accessible, we should support multiple languages (we may have resources to translate Portogues, German, Italian, to start).

With this issue we can set up the multiple language and switch the language using the browser language.

In the future we can think of a UI switch.

[2020-07-20 08:15] nicolocarpignoli opened #94 "Enhance UI flow to make it more easier"
From Mirek's feedback with german teachers, we found out that for some users the creation flow is not very understandable. Sometimes users think that all the flow is in one page, and the uploaded marker  (on the first step) is the final output.

Recurrent point:

- Download marker = Download asset ---> That was often a problem. They thought that downloading the marker means downloading the zipped

[2020-07-20 08:20] nicolocarpignoli opened #95 "Improve Github deploy loading UI"
We should enhance the loading page (final one) when Github is creating the page, because it may take up to several minutes, and so we should specify this better to the users.

[2020-07-20 08:23] nicolocarpignoli opened #96 "Add the possibility to customise the border thickness (and possibly the color)"
We should add the possibility, from UI, to change  color and thickness of the marker border.

[2020-07-20 08:25] nicolocarpignoli opened #97 "Add a QR-Code on the final step"
On the final step, as we have the live URL from Github, we can easily create a QR-Code pointing to that URL and show it in order for students/users/visitors to reach it without even typing the URL address.
This JS library works great in order to create QRCodes: https://www.npmjs.com/package/qrcode-with-logos.

[2020-07-22 17:03] naluz7 commented on #89
Bom tarde Thayana!

[2020-07-22 17:05] naluz7 commented on #89
Estou procurando algum programador do ARcore, você conhece alguém?

[2020-07-22 17:14] thauska commented on #89
Esse espaço de issues é para trabalho e organização pro desenvolvimento da plataforma AR.js Studio. Seria bom me procurar fora daqui. tem como mandar email? thayanacmamore@gmail.com

[2020-07-22 17:15] thauska commented on #88
@nicolocarpignoli what do you think about this? can i implement this?

[2020-07-22 17:31] nicolocarpignoli commented on #88
yea please ! :D

[2020-07-22 19:55] naluz7 commented on #89
Ok

[2020-08-23 09:53] hassanayoub85 opened #98 "Location based is not working in the deployed project"
hi,
I created a demo project with a location far approx 15km of my place, when i look into that place in the deployed project, i didnt saw the image.
Thanks

[2020-08-24 08:18] nicolocarpignoli commented on #98
Hi, you have to modify the project in order to use a place more distant than ~1km

See this example:

https://github.com/AR-js-org/AR.js/blob/master/aframe/examples/location-based/arjs-webcam-texture/index.html

[2020-08-24 08:18] #98 closed

[2020-08-25 00:02] faace commented on #82
I have tried to upload glb which name has spaces and succeeded. Could someone send me an issue glb? faace@qq.com.

[2020-08-29 02:33] MrXin95 opened #99 "Multiple models can be uploaded in a demo."
I found that in the location-based section, you can add multiple locations, but only one file can be uploaded, whichmake no scene. I think that every time you add a location, you can upload one more file, as well as for images-based AR.

[2020-09-08 07:20] nicolocarpignoli commented on #82
Other people told this to me.
I think that's not easy to handle as gltf has references 'inside' the assets. I will add a disclaimer to state to control the filename before upload it.

[2020-09-08 07:20] #82 closed

[2020-09-11 07:08] nicolocarpignoli commented on #92
The issue could be that we have chosen a different light than the one of Don McCurdy's GLTF viewer. And so you see them 'darker'.

[2020-09-11 07:09] nicolocarpignoli commented on #90
can you please open up the  console of Safari developer and tell us if you see any problem with it? Errors or logs. You can do that using the Safari Menu, "Development" and "Developer tools"

[2020-09-11 19:22] jrDev1 commented on #90
Hello,

<img width="1673" alt="image" src="https://user-images.githubusercontent.com/16272193/92964702-8daa7980-f442-11ea-8b21-a461b6ea5fb0.png">

Here is the error.

Thanks,
jrDev

[2020-09-16 12:42] #92 closed

[2020-09-16 12:45] gciandro13 commented on #88
Hi @thauska how it is going ? Are you still workin' on it? ;)

[2020-09-16 12:46] gciandro13 commented on #91
Hi @cytchemsir  .. still stuck with the bug? @thauska are you going further with the investigation?

[2020-09-16 12:48] gciandro13 commented on #64
@Annasmerag yes we will take it into account.

This issue will be close ( moving to "Responsive Layout" issue).

[2020-09-16 12:48] #64 closed

[2020-09-16 12:49] gciandro13 commented on #99
Hi @MrXin95  we will take into account this suggestion ;)

[2020-09-16 12:50] gciandro13 commented on #85
https://github.com/AR-js-org/studio/issues/96

[2020-09-16 12:50] #85 closed

[2020-09-16 12:52] thauska commented on #88
Hi there. I've create an float button component for this. I'm pushing tonight my branch.

[2020-09-16 19:30] thauska commented on #88
![screencapture-127-0-0-1-5500-index-html-2020-09-16-16_29_55](https://user-images.githubusercontent.com/8525721/93383406-f6766500-f839-11ea-8dc0-c4c7e70254db.png)

[2020-09-16 19:31] thauska commented on #88
Is this good?

[2020-09-17 07:00] gciandro13 commented on #88
Sounds good to me... what is your opinion @Annasmerag ?

@thauska responsive design is the same? Can you please open pull request when Anna is agree and you'reready? :)

Thanks a lot

[2020-09-17 21:42] Annasmerag commented on #88
Should do the trick! Is it persistent on all the pages?

[2020-09-17 22:35] thauska commented on #88
Yes. It is an component and can be placed on all pages.

[2020-09-18 13:22] gciandro13 commented on #88
For me it is great! Feel free to open PR when you want, so that I will check it !

Thanks for your job @thauska

[2020-09-18 13:46] thauska commented on #88
PR sended. #100

[2020-09-22 09:35] #88 closed

[2020-09-24 10:11] gciandro13 commented on #95
I edit this issue because it is related to a "backend" bug:  we have got some reports about the fact that sometimes we have got sporadic error when we try to get github shareable link (error on screenshot).

![image](https://user-images.githubusercontent.com/20702863/94132102-196acf80-fe5f-11ea-8b34-0db117f4f4af.png)

[2020-09-30 06:52] ktsimouris opened #101 "Project not uploading / Aw snap! on chrome..."
Hello everyone,

I've been using the studio for a little while now, and no issues had fallen to my attention.
Today, trying to upload a new marker-based project, I upload my marker, then the 3D model (gltf and bin as I should in a zip file) and when I click "post on github" I get an "Aw! Snap." reaction from chrome with the error code "Error code: STATUS_BREAKPOINT".

My model is not damaged, it w

[2020-09-30 09:33] ktsimouris commented on #101
:UPDATE:

It looks like the generated package for the project is about 122MB in total. I downloaded it before clicking "Publish on GitHub" and saw that.
Could that be the issue?

I tried to make the repository from scratch with the generated code and assets, but GitHub does not let me upload anything larger than 25MB.

[2020-10-02 09:51] nicolocarpignoli commented on #101
@ktsimouris try to upload using the git command line tool or other software for git (like Sourcetree, GitKraken, etc.).
Maybe is the Github Web that is limiting the file size.

If the problem persist, please open the issue again.
I will close this as the problem is out of the scope of AR.js Studio (we are stating the 25mb limit for the GLTF) :)

[2020-10-02 09:51] #101 closed

[2020-10-02 09:52] nicolocarpignoli commented on #99
@MrXin95 Yes, that will be a nice addition. It will require a lot of work from the UI/UX side, but it's definitely valuable.

[2020-10-02 09:53] nicolocarpignoli commented on #96
Maybe not 1.0.0 as other features.

[2020-10-02 09:55] nicolocarpignoli commented on #91
@cytchemsir please open a new issue with more details. The problem is probably with the code references to the assets.
Upload the full code on a github repo and link us the repo OR upload the zip somewhere so we can download it and inspect it. Thank you.

[2020-10-02 09:55] #91 closed

[2020-10-28 13:39] thauska commented on #77
![image](https://user-images.githubusercontent.com/8525721/97443480-d4c4cf00-1909-11eb-990a-f2f86f69a828.png)
The bug is still here.

[2020-10-28 13:41] thauska commented on #77
![image](https://user-images.githubusercontent.com/8525721/97443605-fcb43280-1909-11eb-874d-b1503709d511.png)
The bug persist.

Latitude: -1.409180
Longitude: -48.468201

[2020-10-29 15:51] gciandro13 commented on #77
Yes I reproduced the bug. No error on console.
It's strange because with lng <0 it works. We have to debug it.

[code]

[2020-11-14 11:00] gciandro13 commented on #94
@nicolocarpignoli  I will edit this issue with more Mirek's feedback (more precise)

[2020-11-14 11:04] gciandro13 opened #103 "Marker Sketcher"
From Mirek's feedback, a great idea that gives great value for the 1.0.0 version:

We would like to make a "Simple Marker Sketcher"... flow: Select frame size, 2 letters, SVG icons, simple icon upload->black/white … and let AR.js Studio generate the tracker for you.

[2020-11-14 11:06] gciandro13 commented on #97
From Mirek's feedback: we have to reason about also a UX trick that make understand to us where we can go after that we download the zip project. I will ask to designers to make a reason about that.

[2020-11-14 11:08] gciandro13 opened #104 "Improve naming "Download Assets" and where to go after downloading project zip"
From Mirek's feedback we had some suggestions related to "UX Writing" and lack of instructions.

1. Download marker = Download asset
That was often a problem. They thought that downloading the marker means downloading the zipped content. Had to explain them several times.

2.  How to go on after d/l the zipped project? I created an upload/unzip/create QRCode page for my participants, see https://w

[2020-11-14 11:12] gciandro13 opened #105 "Allow Vimeo/Youtube video as assets"
From Mirek's feedback:

We need to allow Youtube/Vimeo as assets -->not only for the next lockdown! So I expect in step “2. Choose the content” an alternative selection to enter a video id or the whole URL to the vid.

[2020-11-14 11:52] gciandro13 commented on #104
Duplicated https://github.com/AR-js-org/studio/issues/94

[2020-11-14 11:52] #104 closed

[2020-11-19 13:21] dirkk0 opened #106 "'markersAreaEnabled' / 'minConfidence' parameter is undefined."
Hi!

Great idea! But the exported project is not working here.

The console shows:
aframe-ar.js:2023 THREEx.ArMarkerControls: 'markersAreaEnabled' is not a property of this material.
and
aframe-ar.js:2016 THREEx.ArMarkerControls: 'minConfidence' parameter is undefined.

This was a Hiro marker plus glTF model in glb format.

I attached the project for reference.

Thanks, Dirk
[ar.zip](https://githu

[2020-11-23 12:01] gciandro13 commented on #106
Seeing the logs I guess that this could be a problem related to arjs (I ask to @nicolocarpignoli )
We will focus on that and we'll give you update @dirkk0

Ty

[2020-11-26 09:03] franbrennan commented on #94
![issues_vidPoster](https://user-images.githubusercontent.com/3405072/100329303-65540500-2fc5-11eb-9890-77506243bdd2.jpg)

- - -
### A Few Thoughts (via video overview)

The vid can be found at: https://youtu.be/p4DF8sO4brQ

[2020-11-28 20:12] jbonomo1982 opened #107 "Can't use latitude of south hemisphere"
Hi!
When I try to use Ar.js studio location based with coordinates on the south hemisphere (e.g. -43.89789239125797 ; -57.52441406250001) I can´t export the project, if I change the coordinates to north hemisphere i can export it easily. Can you help me with this?
Many thanks in advance!

Juan M. Bonomo

[2020-11-30 08:02] gciandro13 commented on #107
Hi @jbonomo1982  issue is already open: https://github.com/AR-js-org/studio/issues/77 .
We will take updates on it , thanks.

[2020-11-30 08:02] #107 closed

[2020-11-30 08:13] gciandro13 opened #108 "Design and usability improvements for 1.0.0"
Using some feedbacks about design issues (thanks to Mirek), Frannie focused on some points to improve the entire user experience of the creation of the project with studio.

Here is the link of the fantastic job she made: https://www.youtube.com/watch?v=p4DF8sO4brQ&feature=youtu.be

In particular, these technical points will be achieved with 1.0.0:

- [ ] **Create a chronology of process:** identi

[2020-11-30 08:13] gciandro13 commented on #95
Will be close in https://github.com/AR-js-org/studio/issues/108

[2020-11-30 08:13] #95 closed

[2020-11-30 08:13] gciandro13 commented on #94
Will be close in https://github.com/AR-js-org/studio/issues/108

[2020-11-30 08:13] #94 closed

[2020-12-01 09:48] nicolocarpignoli commented on #106
@dirkk0 those warnings should not be a problem.

Can you please host the project and give us:

- a live example that we can run
- the marker image, not only  the .patt

I see no problems on the code but we need those two things in order to test better.

[2020-12-01 10:09] dirkk0 commented on #106
Sure thing!
Here's the link to the hosted project:
http://curious-electric.com/_del/ar-test/
and this is the marker:
https://stemkoski.github.io/AR-Examples/markers/hiro.png

Just for reference, the Stemkoski examples are working:
https://stemkoski.github.io/AR-Examples/

[2020-12-01 10:13] nicolocarpignoli commented on #106
the problem is that you are using a HIRO marker but as a 'pattern' marker. Artoolkit fails to recognize it (if you look the .patt file with VSCode you will see the 'hiro' letters are not interpreted).

So you either use a different marker (like the default that Studio suggests you) ore you modify your code (HTML) in order to handle the default HIRO marker (you can find examples on the AR.js docs )

[2020-12-01 10:43] dirkk0 commented on #106
Ah ok, thanks for looking into this.
Programming this myself/ changing the code is not a problem for me, I did so several times before.

But I liked the idea of having a wizard doing that without having to bother with code.
The wizard prompts me to upload an image as a marker, which I did.
So I guess this is an issue with Studio's wizard, right?
![image](https://user-images.githubusercontent.com/6

[2020-12-01 10:51] nicolocarpignoli commented on #106
Yes, it's a particular case when the user uploads on of the 'two' premade markers (Hiro and Kanjii ones). In those case, it may fail :)

[2020-12-01 10:52] nicolocarpignoli commented on #106
@gciandro13 we should modify the 'guide' (the linked one) and state to NOT use HIRO marker (also include the HIRO marker image as a lot of users mistake this with barcodes).

Please  open a new issue  with this little enhancement

[2020-12-01 10:52] #106 closed

[2020-12-01 16:46] gciandro13 opened #109 "Pointing out NOT to use marker Hiro"
Modify the existing guide specifying NOT use HIRO marker (also include the HIRO marker image as a lot of users mistake this with barcodes).

Guide link: https://github.com/AR-js-org/studio/blob/master/what-makes-a-good-marker.md

Related to : https://github.com/AR-js-org/studio/issues/106

[2020-12-01 16:47] gciandro13 commented on #106
Related issue: https://github.com/AR-js-org/studio/issues/109

Thanks @dirkk0  @nicolocarpignoli

[2020-12-01 16:53] gciandro13 commented on #108
We will try to achieve that -->

https://www.figma.com/file/TUjZ2KYsmhA5LUkt9KIhcB/ARjs-Studio?node-id=2988%3A1075

https://www.youtube.com/watch?v=N4dOOW4144Q&feature=youtu.be

[2020-12-07 06:08] mjldunn opened #110 "AR.js web interface does not allow download for southern hemisphere."
Using the ar.js studio ( https://ar-js-org.github.io/studio/pages/location/index.html )

I tried to use my location in the web interface ( the south west of Western Australia). When I select it on the map the button to download the project does nothing.  I tried moving the Latitude > 0 and the button started working

So for an Latitude<0 i.e  Southern hemisphere the download does not work.

I wond

[2020-12-31 00:07] skitsoeffectedpolarbear opened #111 "Arjstudio"

[2021-02-05 09:00] #111 closed

[2021-03-01 03:33] muvich3n opened #112 "Publish on github directly did not work"

[2021-03-04 08:44] gciandro13 commented on #110
Hi @mjldunn  , that issue is already open. We will take care of that asap. https://github.com/AR-js-org/studio/issues/77
Thank you.

[2021-03-04 08:44] #110 closed

[2021-03-04 08:44] gciandro13 commented on #112
Hi @muvich3n , can you provide some extra data for that?
Have you retried at least two,three times?
Thank

[2021-05-04 05:12] mechpil0t opened #113 "Image Tracking coming?"
Will ARjs Studio ever support image tracking rather than markers?

[2021-05-27 05:42] eredeli opened #114 "Marker Tracker"
Hello everything works great! Love it! But the video (.mp4) on the marker tracker is very chaotic, because the code uses the video as a function of seeing a 3D object, as I understand it, and the video shakes every time, can't watch it. I only need to use video, no 3D objects, where can I change it? it must be shown at a fixed location.

Thank you,

Levan

[2021-05-31 01:18] johnfelipe opened #115 "Can u tell me commands for local installation"
Pls share me a cheatsheet
I need try this in my localhost
Tnks

[2021-06-06 00:42] Raulboom opened #116 "Play/pause an animation"
Hi, i have a simple animation, everything works fine, but i just need to be able to play and pause this animation, i´m really new at this and just need a simple function, thank you everyone.

This is the code, and i just simply don´t know what to do.

<!doctype html>
<html>
    <head>
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
        <script src="https://raw.gi

[2021-06-09 04:00] JavierR2 opened #117 "Publish on github directly did not work"
Publish on github directly or download package did not work. The buttons are as off. I click on them and nothing happens. I tried different browsers and none works for me.

[2021-07-26 09:57] gciandro13 commented on #113
Hi mechpil0t.
At this moment is not scheduled!
We will inform on our community when it will be possible

[2021-07-26 09:57] #113 closed

[2021-07-26 09:58] gciandro13 commented on #114
Hi @eredeli  !
Please feel free to open a pull request if you want to improve the actual code-base.
It will be discussed and eventually accepted by our admin.
Thank for the feedback

[2021-07-26 09:58] #114 closed

[2021-07-26 09:59] gciandro13 commented on #115
Hi everything about the setup is in the readme.
Bye

[2021-07-26 09:59] #115 closed

[2021-07-26 10:00] gciandro13 commented on #116
Hi, if you want to improve the code-base please open a pull request.
If you have some questions on issuing about ar-js studio usage , please open a proper issue.
This issue is not related to the project.

[2021-07-26 10:00] #116 closed

[2021-07-26 10:01] gciandro13 commented on #117
Hi @JavierR2  this is linked to other issues.
HAve you tried several times ? Please share the console error if you are not able to publish anymore.
Bye

[2021-08-01 16:44] ilmalte commented on #117
Hey @gciandro13 I second this. After Github OAuth this is the console output:

![image](https://user-images.githubusercontent.com/17677294/127778698-bc48a919-df4d-40eb-acee-6ad107208aeb.png)
![image](https://user-images.githubusercontent.com/17677294/127778706-90cad060-3658-4787-a066-257b22a4281b.png)

[2021-08-02 12:46] #112 closed

[2021-09-06 02:10] slavian876 commented on #80
Hello.
Looking forward to adding NFT markers to AR.js Studio!
When will this kind of markers be added to the web version?

[2022-02-12 19:25] PlayfulRealities opened #118 "Downloaded package not working"
Hi, I´m testing with AR.js studio, and if I publish is on Github it works perfectly, but when I download the package and upload it to my server it´s nor working. Maybe I´m missing something obvious, but I can´t make it work on my server.

This is the project in [Github ](https://playfulrealities.github.io/pagodaNewi9jk2i/)

This is the same project in [my server](https://www.playfulrobot.com/playf

[2022-02-12 21:04] #118 closed

[2022-06-05 08:07] arjenandringa opened #119 "Webpage doesn't report what a correct file is"
Hi, my girlfriend has been working tirelessly on 3D objects that she wants to publish for a project at university, she has next to no experience with programming, filetypes, Linux etc., so AR.js Studio is a great place to give her a webpage quickly without the hassle. (we've also been trying the regular webserver approach, but ran into script issues from https://github.com/AR-js-org/AR.js/https://

[2022-07-12 07:55] #119 closed

[2022-09-07 19:13] AlexBrazil opened #121 "The 3D model appears without its texture/material"
The 3D model appears without its texture/material. Is there any way to upload the 3D model with the built-in material and texture?

[2022-11-20 12:35] Hollywoodwp commented on #90
Has anyone fixed this issue of it not working on Safari?